<!DOCTYPE html>
<html>
    <head>
<style>
h1 { text-align:center; font-weight:bold; background-color:yellow; }
h2 { font-style: italic;}
img { border: 3px solid ; }
p {font-family:Courier New, Courier, monospace}
body {background-color:lavender;}
</style>

    </head>
<body>
    <div>
        <h1> Student Bio </h1>
    </div>     
    <div>
        <h2> Nick Alder</h2>
    </div>

    <img src="https://scontent-lax3-1.cdninstagram.com/vp/cfa7bdb1688135aa1929e6e42abb69bb/5B04E996/t51.2885-19/11326362_589554454480583_370563181_a.jpg" alt="nickpic">
<div>
    <p> Nick , besides his incredibly chizeled features , is a really down to earth fellow. he is currently
taking classes at the local university. He enjoys pizza and long walks on the beach.</p>
</div>

<h1> Contact Info </h1>
<ol>
<li> Email:<a href="nickoluss@hotmail.com">nickoluss@hotmail.com</a> </li>
<li> Github:<a href="nickoluss">nickoluss</a> </li>
<li> Potrfolio <a href="comming soon">comming soon</a> </li>