h1 {
    text-align: center;
    background-color: antiquewhite;
}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h2 {
    text-align: center
}

h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 250px;
    margin-left: 250px;
}

ul {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}

body {background-color: lightblue;}